<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Payment Gateway in India – Payment Services, Payment Gateways by Paytm</title>
    <meta name="description" content="Paytm - The successful &amp; advanced Payment Gateway in India. Get started today and experience the high success rate in transactions. Fastest Payment Gateway Attract Paytm Customers">
    <link href="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/bootstrap.css" rel="stylesheet">
    <link href="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/base.css" rel="stylesheet">
    <script src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/analytics.js" async=""></script><script src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/gtm.js" async=""></script><script src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/jquery.js"></script>
    <script type="text/javascript" src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/bootstrap.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#tabs').tab();

			$('ul.voices').hover(
				function(){
					if($(this).hasClass('inactive')) {
						var idValue = $(this).attr('id');
						if(idValue == 'deepakVoice') {
							$('#deepakVoice').addClass('active').removeClass('inactive');
							$('#santhoshVoice').addClass('inactive').removeClass('active');
							$('.deepakVoice').css('display', 'block');
							$('.santhoshVoice').css('display', 'none');
						} else if(idValue == 'santhoshVoice') {
							$('#santhoshVoice').addClass('active').removeClass('inactive');
							$('#deepakVoice').addClass('inactive').removeClass('active');
							$('.santhoshVoice').css('display', 'block');
							$('.deepakVoice').css('display', 'none');
						}
					}
				}, function(){

				}
			);
        });
    </script>
</head>

<body>
   
    <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5XDLSD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5XDLSD');</script>
<!-- End Google Tag Manager -->

    <!--Header-->
    <div id="header">
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
                    <a class="navbar-brand" href="http://paywithpaytm.com/index.html" title="LOGO">
                        <img src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/logo.png" alt="Paytm Wallet" title="Paytm Wallet" width="195px" height="27px">
                    </a>
                </div>
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="http://paywithpaytm.com/consumers.html" title="For Consumers">
                                <img src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/cart.svg" alt="" title="">&nbsp;For Consumers</a>
                        </li>
                        <li class="active">
                            <a href="http://paywithpaytm.com/merchants.html" title="For Merchants">
                                <img src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/sell.svg" alt="" title="">&nbsp;For Merchants</a>
                        </li>
                        <li>
                            <a href="http://paywithpaytm.com/developer.html" title="SELL">
                                <img src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/developer.svg" alt="" title="">&nbsp;Developer</a>
                        </li>
                    </ul>
                    <!-- <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://paytm.com/paytmcash" title="Login/Sigup">Login/Signup</a></li>
                    </ul> -->
                </div>
                <!--/.nav -->
            </div>
        </div>
    </div>

    <!--Banner1-->
    <div class="rel">
        <img src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/sell-banner.jpg" width="100%">
        <div class="container">
            <div class="abs seller-banner">
                <h1>Trusted Payment Gateway</h1>
                <div>Sign up with Paytm Today and <br>Experience High Success Rate</div>
                <!-- <div>Experience High Success rate <br/>in your Transactions
                Sign Up with<br /> Paytm Wallet Today!</div> -->
                
                <a href="#target" style="width: 355px; font-size: 24px;" onclick="$('#target').toggle();" class="btn btn-primary mt15" title="Partner with us">Partner with us</a>
            </div>
        </div>
    </div>

    <!--3 Columns-->
    <div class="container">
        <div class="row mt50 mb30 ">
            <div class="col-md-4">
                <div class="center">
                    <img src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/easy.jpg" alt="" title="" class="" width="57px" height="50px">
                </div>
                <h3 class="blue">Successful &amp; Advanced</h3>
                <p class="justify">Highest success rate of payment 
gateway transactions, intelligent routing algorithms and auto retrials 
ensures minimal users drop off from your site</p>
            </div>
            <div class="col-md-4">
                <div class="center">
                    <img src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/customers.jpg" alt="" title="" class="" width="42px" height="50px">
                </div>
                <h3 class="blue">India's largest Digital Wallet</h3>
                <p class="justify">Paytm wallet is RBI approved digital 
wallet. With over 75 million wallet users and 2 million daily 
transactions, it makes us India's largest Wallet.</p>
            </div>
            <div class="col-md-4">
                <div class="center">
                    <img src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/win.jpg" alt="" title="" class="" width="59px" height="50px">
                </div>
                <h3 class="blue">Amazing User Experience</h3>
                <p class="justify">Being one of the largest Online 
Payment Gateway for various companies within ecommerce, food, travel 
industries, Paytm is loved by its users on web or mobile. Easy and 
smooth transactions make Paytm strongest payments service in the 
country.
                </p>
            </div>
        </div>

        <div class="row mt50 mb30 ">
            <div class="col-md-4">
                <div class="center">
                    <img src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/easy.jpg" alt="" title="" class="" width="57px" height="50px">
                </div>
                <h3 class="blue">Wide Range of Payment Options</h3>
                <p class="justify">With 40+ netbanking options, Paytm 
Wallet, IMPS, Pre-paid cards and all major credit and debit cards, Paytm
 equips your business to accept payment in every way and is one of the 
largest Payment Gateways in India.</p>
            </div>
            <div class="col-md-4">
                <div class="center">
                    <img src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/customers.jpg" alt="" title="" class="" width="42px" height="50px">
                </div>
                <h3 class="blue">Attract Paytm customers</h3>
                <p class="justify">Paytm wallet users keep millions in 
their wallet and use it for shopping. Paytm wallet is the preferred 
medium for customers to pay any merchant.</p>
            </div>
            <div class="col-md-4">
                <div class="center">
                    <img src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/win.jpg" alt="" title="" class="" width="59px" height="50px">
                </div>
                <h3 class="blue">Get started easy and fast</h3>
                <p class="justify">Paytm is simple and easy to 
integrate. A few easy clicks &amp; you can start using Paytm for 
payments. Small business can get started within minutes!
                </p>
            </div>
        </div>
    </div>

<div class="rbiApproval  clearfix ">
    <div class="container">
        <div class="center-block clearfix">
            <!-- <img src="images/rbi.png" alt="" title="" class="pull-left rbiImage" /> -->
            <div class="pull-left clearfix textContent">
                <h2 class="h4">RBI approved digital wallet</h2>
                <p class=" container small">75 million registered Paytm Wallet users. Accepted across multiple internet merchants in india</p>
            </div>
        </div>
    </div>
</div>

    <!--Blue part-->
    <div class="blue-bg">
        <h2 class="h1 center container">Benefits of using our payment services</h2>
        <p class="center container mt20">PaywithPaytm is a revolutionary Payment Gateway that changes the way the world shops online. <br>Offer
 your customers all popular payment methods in one solution. They can 
also pay using their Paytm Wallet and gain much from it. <br>Simple to integrate and ensures hassle-free payment experience for customers.<br><br>
            <img src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/down-arrow.jpg" alt="" title="">
        </p>
    </div>

    <!--3columns-->
    <div class="container">
        <div class="row mt50 mb30 ">
            <div class="col-md-4">
                <div class="center">
                    <img src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/single-payment.svg" alt="" title="" class="" width="82px" height="50px">
                </div>
                <h3 class="blue">Simple Payment</h3>
                <p class="justify">Paytm has always led the way with 
simplicity. With a single click, the user sees his available wallet 
balance &amp; saved cards too and does the payment.</p>
            </div>
            
            <div class="col-md-4">
                <div class="center">
                    <img src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/dashboard.svg" alt="" title="" class="" width="54px" height="50px">
                </div>
                <h3 class="blue">Great Dashboard</h3>
                <p class="justify">Paytm Payment Gateway gives you 
unmatched tracking with a great dashboard to track payments received, 
alerts, chargebacks, refunds and even support tickets. Life gets much 
easier!</p>
            </div>

            <div class="col-md-4">
                <div class="center">
                    <img src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/conversion.svg" alt="" title="" class="" width="55px" height="50px">
                </div>
                <h3 class="blue">Awesome conversion</h3>
                <p class="justify">Ensure minimal users drop off from 
your site. Wallet has seen conversion medics rise as much as 50% in some
 online sites. Lesser drop-offs directly translate into more revenue.</p>
            </div>

        </div>
		<div class="clearfix"></div>
		<div class="row" id="merchants_parters">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<button type="submit" onclick="$('#target').toggle();" class="btn btn-primary mt15" title="Partner with us">Partner with us</button>
			</div>
			<div class="col-md-4"></div>
		</div>
        <div class="clearfix"></div>
    </div>

<div class="container">


        <!--Show/Hide-->
        <!--Tabs-->

        <div class="container" id="target">
            <h2 class="center pbt10 black">Ready to grow your business?</h2>
            <div id="content">
                <!-- <ul id="tabs" class="nav nav-tabs uppercase" data-tabs="tabs">
                    <li class="active"><a href="#website" data-toggle="tab" title="Set up Payment Gateway">Set up Payment Gateway</a>
                    </li>
                    <li><a href="#start" data-toggle="tab" title="Set up Business wallet">Set up Business wallet</a>
                    </li>
                </ul> -->
                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane active" id="website">
                        <ul class="clearfix mt40">
                            <li class="pull-left">
                                <ul>
                                    <li class="pull-left">
                                        <img src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/signup.svg">
                                    </li>
                                    <li class="pull-left">
                                        <h4 class="uppercase"> Sign up with Paytm</h4>
                                        <p>If your total monthly 
transactions are worth over Rs 10,000, fill up the adjacent form and our
 personal advisor will get in touch with you shortly.</p>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                                <ul>
                                    <li class="pull-left">
                                        <img src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/wallet.svg">
                                    </li>
                                    <li class="pull-left">
                                        <h4 class="uppercase"> Get paytm wallet on your store or in your app(sdk)</h4>
                                        <p>We enable PaywithPaytm on all major platforms.</p>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                                <ul>
                                    <li class="pull-left">
                                        <img src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/done.svg">
                                    </li>
                                    <li class="pull-left">
                                        <h4 class="uppercase"> Done</h4>
                                        <p>As soon as you integrate with us, you are ready to collect payments.</p>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </li>
                            <!--Form-->
                            <li class="pull-left">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="alert alert-success" style="display: none;" id="alert-msg"></div>
                                        <div class="form-class" id="contact-form">
                                            <h4>LEAVE YOUR CONTACT DETAILS</h4>
                                            <form class="bv-form" novalidate="novalidate" action="" method="POST" name="reachOut" id="reachOut"><button style="display: none; width: 0px; height: 0px;" class="bv-hidden-submit" type="submit"></button>
                                                <input data-bv-field="subject" name="subject" id="subject" value="Paytmwallet.com: Paywith paytm query" type="hidden">
                                                 <div class="form-group">
                                                    <input data-bv-field="name" class="form-control" placeholder="Name" id="name" name="name" type="text">
                                                <small data-bv-result="NOT_VALIDATED" data-bv-for="name" data-bv-validator="notEmpty" class="help-block" style="display: none;">Please enter Name</small></div>
                                                <div class="form-group">
                                                    <input data-bv-field="reply_to" class="form-control" placeholder="Email Id" id="reply_to" name="reply_to" type="text">
                                                <small data-bv-result="NOT_VALIDATED" data-bv-for="reply_to" data-bv-validator="notEmpty" class="help-block" style="display: none;">Email id is required</small><small data-bv-result="NOT_VALIDATED" data-bv-for="reply_to" data-bv-validator="emailAddress" class="help-block" style="display: none;">The value is not a valid email address</small></div>
                                                <div class="form-group">
                                                    <input data-bv-field="phone" class="form-control" placeholder="Phone Number" id="phone" name="phone" type="text">
                                                <small data-bv-result="NOT_VALIDATED" data-bv-for="phone" data-bv-validator="notEmpty" class="help-block" style="display: none;">Phone Number is required</small><small data-bv-result="NOT_VALIDATED" data-bv-for="phone" data-bv-validator="regexp" class="help-block" style="display: none;">Enter 10 digit mobile number</small></div>
                                                <div class="form-group">
                                                    <select data-bv-field="locations" name="locations" id="locations" class="form-control">
                                                          <option selected="selected" value="" class="">
                                                            Select Location
                                                          </option>
                                                          <option value="Andaman and Nicobar Islands">
                                                            Andaman and Nicobar Islands
                                                          </option>
                                                          <option value="Andhra Pradesh">
                                                            Andhra Pradesh
                                                          </option>
                                                          <option value="Arunachal Pradesh">
                                                            Arunachal Pradesh
                                                          </option>
                                                          <option value="Assam">
                                                            Assam
                                                          </option>
                                                          <option value="Bihar">
                                                            Bihar
                                                          </option>
                                                          <option value="Chandigarh">
                                                            Chandigarh
                                                          </option>
                                                          <option value="Chhattisgarh">
                                                            Chhattisgarh
                                                          </option>
                                                          <option value="Dadra and Nagar Haveli">
                                                            Dadra and Nagar Haveli
                                                          </option>
                                                          <option value="Daman and Diu">
                                                            Daman and Diu
                                                          </option>
                                                          <option value="Delhi">
                                                            Delhi
                                                          </option>
                                                          <option value="Goa">
                                                            Goa
                                                          </option>
                                                          <option value="Gujarat">
                                                            Gujarat
                                                          </option>
                                                          <option value="Haryana">
                                                            Haryana
                                                          </option>
                                                          <option value="Himachal Pradesh">
                                                            Himachal Pradesh
                                                          </option>
                                                          <option value="Jammu &amp; Kashmir">
                                                            Jammu &amp; Kashmir
                                                          </option>
                                                          <option value="Jharkhand">
                                                            Jharkhand
                                                          </option>
                                                          <option value="Karnataka">
                                                            Karnataka
                                                          </option>
                                                          <option value="Kerala">
                                                            Kerala
                                                          </option>
                                                          <option value="Lakshadweep">
                                                            Lakshadweep
                                                          </option>
                                                          <option value="Madhya Pradesh">
                                                            Madhya Pradesh
                                                          </option>
                                                          <option value="Maharashtra">
                                                            Maharashtra
                                                          </option>
                                                          <option value="Manipur">
                                                            Manipur
                                                          </option>
                                                          <option value="Meghalaya">
                                                            Meghalaya
                                                          </option>
                                                          <option value="Mizoram">
                                                            Mizoram
                                                          </option>
                                                          <option value="Nagaland">
                                                            Nagaland
                                                          </option>
                                                          <option value="Odisha">
                                                            Odisha
                                                          </option>
                                                          <option value="Puducherry">
                                                            Puducherry
                                                          </option>
                                                          <option value="Punjab">
                                                            Punjab
                                                          </option>
                                                          <option value="Rajasthan">
                                                            Rajasthan
                                                          </option>
                                                          <option value="Sikkim">
                                                            Sikkim
                                                          </option>
                                                          <option value="Tamil Nadu">
                                                            Tamil Nadu
                                                          </option>
                                                          <option value="Telangana">
                                                            Telangana
                                                          </option>
                                                          <option value="Tripura">
                                                            Tripura
                                                          </option>
                                                          <option value="Uttar Pradesh">
                                                            Uttar Pradesh
                                                          </option>
                                                          <option value="Uttarakhand">
                                                            Uttarakhand
                                                          </option>
                                                          <option value="West Bengal">
                                                            West Bengal
                                                          </option>
                                                        </select>
                                                <small data-bv-result="NOT_VALIDATED" data-bv-for="locations" data-bv-validator="notEmpty" class="help-block" style="display: none;">Please select the location</small></div>
                                                <div class="form-group">
                                                    <select data-bv-field="partnerWithUS" name="partnerWithUS" id="partnerWithUS" class="form-control">
                                                        <option selected="selected" value="">I’m interested in Partnering for</option>
                                                         <option value="Payments">Wallet</option>
                                                         <!--  <option value="Coupon and Deals" >Coupons/Deals Promotion</option> -->

                                                      </select>
                                                <small data-bv-result="NOT_VALIDATED" data-bv-for="partnerWithUS" data-bv-validator="notEmpty" class="help-block" style="display: none;">Please select the value</small></div>

                                                <div class="form-group">
                                                    <input data-bv-field="websiteURL" class="form-control" name="websiteURL" placeholder="Enter Website URL" type="text">
                                                <small data-bv-result="NOT_VALIDATED" data-bv-for="websiteURL" data-bv-validator="regexp" class="help-block" style="display: none;">Enter valid Website URL</small></div>

                                                <div class="form-group">
                                                    <textarea data-bv-field="body" class="form-control" rows="3" id="body" name="body" placeholder="Add a message"></textarea>
                                                <small data-bv-result="NOT_VALIDATED" data-bv-for="body" data-bv-validator="notEmpty" class="help-block" style="display: none;">Please enter message</small></div>
                                                <div class="form-group">
                                                    <input class="btn btn-primary btn-block btn-wallet" value="Partner with us" id="submit" type="submit">
                                                </div>
                                            </form>
                                        </div>
                                    <small data-bv-result="NOT_VALIDATED" data-bv-for="subject" data-bv-validator="notEmpty" class="help-block" style="display: none;">Please enter a value</small></div>
                                </div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <!--2nd Tab-->
                   
                    <!--2nd Tab-->
                </div>
            </div>
        </div>
        <!-- container -->
        <!--Show/Hide end-->
   </div>
   <!-- Pricing Plans Heading Plans -->
 <!--  <div class="blue-bg mt20" style="padding-bottom:150px;" id="merchants_pricing">
           <h2 class="h1 center container">Pricing Plans</h2>
           <p class="center container mt20 seller-banner">Paytm Payment Gateway and Wallet</p>
    </div>  -->
    <!-- Pricing Plans Heading Plans -->
   <div class="container">

        <div class="center mt10">
          <div style=" padding:0;">
         <!-- Pricing Plans Containt Part -->
           <!--  <div class="table-responsive centerDiv col-sm-10 mt20 priceingTbl" style=" padding:0; margin-top:-120px">
                <table class="table text-center collapseTbl table-bordered marginNone" style="background:#fff;">
                    <tr>
                        <th class="text-center">Silver</th>
                        <th class="text-center">Gold</th>
                        <th class="text-center">Platinum</th>
                        <th class="text-center">Budget </th>

                    </tr>
                    <tr class="borderBtmNone">
                        <td>
                            <div class="bottomBorder">
                                    <h3 class="blue">Rs. 9,990</h3>
                                    <p class="small">ONE TIME CHARGES</p>
                            </div>
                        </td>
                        <td><div class="bottomBorder">
                                    <h3 class="blue">Rs. 14,990</h3>
                                    <p class="small">ONE TIME CHARGES</p>
                            </div></td>
                        <td>
                            <div class="bottomBorder">
                                    <h3 class="blue">Rs. 24,990</h3>
                                    <p class="small">ONE TIME CHARGES</p>
                            </div>
                        </td>
                        <td><div class="bottomBorder">
                                    <h3 class="blue">2,990</h3>
                                    <p class="small">ONE TIME CHARGES</p>
                            </div>
                        </td>

                    </tr>
                    <tr class="borderBtmNone">
                        <td>
                            <div >
                                    <h3 class="black_txt">1.5%</h3>
                                    <p class="small">Debit Cards - All Banks(Visa, Mastercard, Maestro)</p>
                            </div>
                        </td>
                        <td><div >
                                    <h3 class="black_txt">1.25%</h3>
                                    <p class="small">Debit Cards - All Banks(Visa, Mastercard, Maestro)</p>
                            </div></td>
                        <td>
                            <div >
                                    <h3 class="black_txt">1%</h3>
                                    <p class="small">Debit Cards - All Banks(Visa, Mastercard, Maestro)</p>
                            </div>
                        </td>
                        <td><div >
                                    <h3 class="black_txt">NA</h3>
                                  
                            </div>
                        </td>

                    </tr>
                    
                    <tr class="borderBtmNone">
                        <td>
                            <div >
                                    <h3 class="black_txt">2.5%</h3>
                                    <p class="small">Credit Card, (Visa, Mastercard)</p>
                            </div>
                        </td>
                        <td><div >
                                    <h3 class="black_txt">2.25%</h3>
                                    <p class="small">Credit Card, (Visa, Mastercard)</p>
                            </div></td>
                        <td>
                            <div >
                                    <h3 class="black_txt">2%</h3>
                                    <p class="small">Credit Card, (Visa, Mastercard)</p>
                            </div>
                        </td>
                        <td><div >
                                    <h3 class="black_txt">NA</h3>
                                   
                            </div>
                        </td>

                    </tr>
                    <tr class="borderBtmNone">
                        <td>
                            <div >
                                    <h3 class="black_txt">2.5%</h3>
                                    <p class="small">Netbanking - Multibanks (35+banks)</p>
                            </div>
                        </td>
                        <td><div >
                                    <h3 class="black_txt">2.25%</h3>
                                    <p class="small">Netbanking - Multibanks (35+banks)</p>
                            </div></td>
                        <td>
                            <div >
                                    <h3 class="black_txt">2%</h3>
                                    <p class="small">Netbanking - Multibanks (35+banks)</p>
                            </div>
                        </td>
                        <td><div >
                                    <h3 class="black_txt">NA</h3>
                                    
                            </div>
                        </td>

                    </tr>
                    <tr class="borderBtmNone">
                        <td>
                            <div >
                                    <h3 class="black_txt">2.5%</h3>
                                    <p class="small">ITZ Cash Card</p>
                            </div>
                        </td>
                        <td><div >
                                    <h3 class="black_txt">2.25%</h3>
                                    <p class="small">ITZ Cash Card</p>
                            </div></td>
                        <td>
                            <div >
                                    <h3 class="black_txt">2.1%</h3>
                                    <p class="small">ITZ Cash Card</p>
                            </div>
                        </td>
                        <td><div >
                                    <h3 class="black_txt">NA</h3>
                                   
                            </div>
                        </td>

                    </tr>
                    <tr class="borderBtmNone">
                        <td>
                            <div >
                                    <h3 class="black_txt">2.9%</h3>
                                    <p class="small">Amex</p>
                            </div>
                        </td>
                        <td><div >
                                    <h3 class="black_txt">2.8%</h3>
                                    <p class="small">Amex</p>
                            </div></td>
                        <td>
                            <div >
                                    <h3 class="black_txt">2.7%</h3>
                                    <p class="small">Amex</p>
                            </div>
                        </td>
                        <td><div >
                                    <h3 class="black_txt">NA</h3>
                                   
                            </div>
                        </td>

                    </tr>
                    <tr >
                        <td>
                            <div >
                                    <h3 class="black_txt">2.9%</h3>
                                    <p class="small">Paytm Wallet</p>
                            </div>
                        </td>
                        <td><div >
                                    <h3 class="black_txt">2.7%</h3>
                                    <p class="small">Paytm Wallet</p>
                            </div></td>
                        <td>
                            <div >
                                    <h3 class="black_txt">2.5%</h3>
                                    <p class="small">Paytm Wallet</p>
                            </div>
                        </td>
                        <td><div >
                                    <h3 class="black_txt">2.9%</h3>
                                    <p class="small">Paytm Wallet</p>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="4" class="text-left"><p>* There is a Rs. 2,500 annual maintenance charge (AMC) with each plan to be paid at the beginning<br>
                            * Service tax (14%) extra as applicable
                        </p></td>

                    </tr>

                </table>
            </div>  -->
                <!-- Pricing Plans Containt Part -->
            </div>

            <div class="mt40">

                <h2 class="blue mt20"> Top merchants with Paytm Wallet</h2>
                <div class="border"></div>
                  <div>
                    <img src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/merchants_logos.jpg" style="margin:0;">
                  </div>
                  </div>

 <!--<map name="Map" id="Map">
  <area shape="rect" coords="122,83,260,159" href="https://paytm.com/offer/bookmyshow-wallet-page/" alt="bookmyshow" />
  <area shape="rect" coords="308,84,428,158" href="https://paytm.com/offer/homeshop18-wallet-page/" alt="shop18" />
  <area shape="rect" coords="481,91,616,143" href="https://paytm.com/offer/tastykhana-wallet-page/" alt="tastykhana" />
  <area shape="rect" coords="659,88,783,150" href="https://paytm.com/offer/naaptol-wallet-page/" alt="Naaptol" />
  <area shape="rect" coords="500,204,602,272" href="https://paytm.com/offer/basicslife-wallet-page/" alt="Basics Life" />
  <area shape="rect" coords="470,312,625,369" href="https://paytm.com/offer/bharatmatrimony-wallet-offer/" alt="Bharat Matrimony" />
  <area shape="rect" coords="320,302,415,378" href="https://paytm.com/offer/uber-wallet-page/" alt="Uber" />
  <area shape="rect" coords="665,214,782,253" href="https://paytm.com/offer/zovi-wallet-page/" alt="Zovi" />
  <area shape="rect" coords="648,317,797,357" href="https://paytm.com/offer/infibeam-wallet-offer/" alt="Infibeam" />
  <area shape="rect" coords="107,205,287,262" href="https://paytm.com/offer/healthkart-wallet-page/" alt="Healthkart" />
  <area shape="rect" coords="310,201,436,270" href="https://paytm.com/offer/fabfurnish-wallet-page/" alt="Fabfurnish" />
  <area shape="rect" coords="123,318,272,365" href="https://paytm.com/offer/archies-wallet-page/" alt="Archies" />
  <area shape="rect" coords="120,428,271,466" href="https://paytm.com/offer/justeat-wallet-page/" alt="Justeat" />
  <area shape="rect" coords="297,426,449,469" href="https://paytm.com/offer/shopclues-wallet-offer/" alt="Shopclues" />
  <area shape="rect" coords="493,423,606,481" href="https://paytm.com/offer/indiatimes-shopping-wallet-page/" alt="Indiatimes Shopping" />
  <area shape="rect" coords="647,426,798,469" href="https://paytm.com/offer/yepme-wallet-page/" alt="Yepme" />
  <area shape="rect" coords="116,503,266,542" href="https://paytm.com/offer/travelyaari-wallet-page/" alt="Travelyaari" />
</map> -->
<br>
<a style="margin:0 auto; width:200px;" href="https://paytm.com/offer/wallet-offers/" class="btn btn-primary mt15" title="Wallets">More Wallet Offers</a>

          </div>
        </div>
    
    <!-- container -->


    <div class="center gry-bg mt40" id="press">

        <div class="container">
            <div class="mt40">
                <img src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/exclamation.svg" alt="" title="">
            </div>
			<div class="deepakVoice">
				<p class="mt40">"Pay with Paytm has been a valuable payment solution for Capital Mind, as we are able to sell our content online.
					<br>It took very little time to set up, our customers were able to 
apy quickly and we are able to track and receive sales revenue easily.
					<br>We heartily recommend them as a payment provider, and are delighted to see them grow."</p>
			</div>

			<div class="santhoshVoice">
				<p class="mt40">"Pay With Paytm offers seamless integration for processing payments on our website directly.<br> This has helped our ticket buyers to transact fast and feel at home. <br>With Paytm's extensive analytics and dashboard, our support needs are further"</p>
			</div>

            <ul class="pull-left txt16 ml50 voices active" id="deepakVoice">
                <li class="pull-left">
                    <img src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/deepak.png">
                </li>
                <li class="blue pull-left text-left mt20">
                    <span class="xx-bold black">Deepak</span>
                    <br>Founder 'Capital Mind'</li>
            </ul>

            <ul class="pull-left txt16 ml50 voices inactive" id="santhoshVoice">
                <li class="pull-left">
                    <img src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/santosh.png">
                </li>
                <li class="pull-left text-left mt20">
                    <span class="xx-bold">Santosh</span>
                    <br>CEO 'Explara'
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

    </div>

    <!--Footer-->
    <div class="footer">
        <p class="center">
            <a href="http://paywithpaytm.com/aboutus.html" title="About Us">About Us</a> |
            <a href="https://paytm.com/blog/" title="Blog" target="_blank">Blog</a> |
            <a href="http://paywithpaytm.com/merchants.html#merchants_parters" title="Partner with us">Partner with us</a> 
            <!-- <a href="merchants.html#merchants_pricing" title="Pricing Plans" >Pricing Plan</a>  -->
            

        </p>
    </div>


    <link rel="stylesheet" href="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/bootstrapValidator.css">
    <script type="text/javascript" src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/bootstrapValidator.js"></script>
    <script src="Payment%20Gateway%20in%20India%20%E2%80%93%20Payment%20Services,%20Payment%20Gateways%20by%20Paytm_files/custom.js"></script>

   <!-- <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-48995472-2', 'auto');
      ga('send', 'pageview');
    </script>
-->




<script id="" type="text/javascript">(function(a,e,f,g,b,c,d){a.GoogleAnalyticsObject=b;a[b]=a[b]||function(){(a[b].q=a[b].q||[]).push(arguments)};a[b].l=1*new Date;c=e.createElement(f);d=e.getElementsByTagName(f)[0];c.async=1;c.src=g;d.parentNode.insertBefore(c,d)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create","UA-48995472-2","auto");ga("require","displayfeatures");ga("send","pageview");</script><script id="" type="text/javascript">var _gaq=_gaq||[];
jQuery(document).ready(function(){jQuery(":input").blur(function(){if(0<jQuery(this).val().length){var a=jQuery(this).attr("name"),b=jQuery(this).attr("placeholder"),d=jQuery(this).attr("id"),c="",c=t_editval(""!==b&&void 0!==b?b:""!==a&&void 0!==a?a:d);ga("send","pageview","/vp/partner_with_us/"+c)}});0<jQuery("form#reachOut .form-group input#submit").length&&(jQuery("form#reachOut .form-group input#submit").unbind("click"),jQuery("form#reachOut .form-group input#submit").click(function(){""!=jQuery("input#name").val()&&
""!=jQuery("input#reply_to").val()&&""!=jQuery("input#phone").val()&&""!=jQuery("select#locations").val()&&""!=jQuery("select#partnerWithUS").val()&&""!=jQuery("textarea#body").val()&&t_email_validation(jQuery("input#reply_to").val())&&t_phonenumber(jQuery("input#phone").val())&&ga("send","pageview","/vp/partner_with_us/form_submit_success")}))});function t_email_validation(a){var b=/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;return b.test(a)}
function t_phonenumber(a){var b=/^\d{10}$/;return b.test(a)}function t_editval(a){a=jQuery.trim(a);return a=a.replace(/[\W]+/g,"_").toLowerCase()};</script></body></html>